
@charset "utf-8";

html {
	background-color: #262626;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color: #fff;
	font-family:"Open Sans" , sans-serif;
	font-size: 12px;
	line-height: 16px;
}

html,body {
	height: 100%;
}

body,form,p,select,div,h1,h2,h3,h4,ul,li,em,var,label {
	margin: 0;
	padding: 0;
}
a {
	outline: 0 !important;
}

h1 {
	font-size: 2em;
}

b,strong { 
	font-weight: bold; 
}

blockquote {
	margin: 0;
}

ul,ol,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
em,var{
	font-style: normal;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
	padding:0;
	border:0;
}
input {
    _vertical-align: text-bottom;/*Vertical alignment of input fields for IE6*/
}
input[type="checkbox"] {
    vertical-align: bottom;/*Vertical alignment of checkboxes*/
    *vertical-align: baseline;/*IE7*/
}

input[type="radio"] {
    vertical-align: text-bottom;/*Vertical alignment of radio buttons*/
}


button,input,select,textarea {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button,input[type="button"], input[type="reset"], input[type="submit"] {
	border: 0;
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	margin: 0;
}

textarea {
	resize: none;
}


select {
    background-color: transparent;/*In Webkit/Mac, select fails to inherit color,font-*,etc if there is no other styling like background for example(border will do to)*/
}
input:focus,
textarea:focus {
	outline: none;
}

a {
	color: #fff;
	text-decoration: none;
}
/*Clear floats
 *The Magnificent CLEARFIX:Updated fo prevent margin-collapsing on child elements
 */
.clearfix:before,.clearfix:after {
    content:"";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;/*IE<8*/
}

.clearfix:after {
    clear: both;
}
* html .clearfix {
    zoom: 1; /* IE6 */
}
*:first-child+html .clearfix {
    zoom: 1; /* IE7 */
}


.googleCode { width: 1px; height: 1px; position: absolute; left: 0; bottom: 10px; overflow: hidden; opacity: 0; filter: alpha(opacity=0); }

article, audio, aside, bdi, canvas, command, details, details, embed, figcaption, figure, footer, header, hgroup, keygen, mark, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, track, video,
search, icon, btn, main, content, box, title, text, container, wrap , time, name, list, left, mid, right, tip, maskBox, proupBox, mask
{
    display: block;
}
